.wrapper{
    padding-top: 35vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

.title{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    display: block;
    font-size: 2vw;
}

.input {
    width: 16vw;
    height: 2.5vw;
    outline: none;
    padding-left: 0.8vw;
    font-size: 1.2vw;
    border-radius: 1vw;
    display: block;
    margin-top: 1vw;
    font-family: "Montserrat", sans-serif;
    outline: none;
    border: 0.15vw solid black;
    transition: .5s ease;
}

input[type="text"]:focus {
    box-shadow: 0 0 10px purple;
}

.button{
    font-family: "Montserrat", sans-serif;
    font-size: 1vw;
    width: 16.95vw;    
    height: 3vw;
    border-radius: 1vw;
    margin-top: 0.5vw;
    background-color: black;
    border: none;
    color: #fff;
    transition: .5s ease;
    z-index: 1000;
}

input[type="submit"]:hover{
    background-color: purple;
    transform: scale(1.02);
}

.ideas{
    width: 100vw;
}

.card {
    width: calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
    float: left;
}