{% extends 'base.html' %}

{% block title %}HOME PAGE{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<h1>Сгенерированные идеи</h1>
    <div>
    {% for key, value in ideas.items %}
        {% for key, idea in value.items %}
            <div>
                <h2>{{ key }}</h2>
                <p>{{ idea }}</p>
            </div>
        {% endfor %}
    {% endfor %}
    </div>

    <div>
    Анти-Акинатор
    </div>

    <div>
    Морской бой
    </div>

    <div>
    Царь горы
    </div>
{% endblock %}