{% extends 'base.html' %}

{% block title %}HOME PAGE{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<div class="main">
    <div class="wrapper">
        <div class="topic">
            <form method="POST">
                {% csrf_token %}
                <label for="topic" class="title">Тема урока:</label>
                <input type="text" id="topic" name="topic" class="input">
                <input type="submit" value="Сгенерировать" class="button">
            </form>
        </div>
    </div>
</div>
{% endblock %}