{% extends 'base.html' %}

{% block title %}HOME PAGE{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<div class="main">
    <div class="wrapper">
        <div class="topic">
            <form method="POST">
                {% csrf_token %}
                <label for="topic">Тема урока:</label><br>
                <input type="text" id="topic" name="topic"><br>
                <input type="submit" value="Сгенерировать">
            </form>
        </div>
    </div>
</div>
{% endblock %}